{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

 {% block pageheader %}
     <h1>Image Details</h1>
 {% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('image_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
        </div>
    </div>

    {% embed 'image/partial/thumbnail.html.twig' with {'image': image} %}
    {% endembed %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Artefact</th>
                <td>
                    <a href="{{ path('artefact_show', {'id': image.artefact.id}) }}">
                        {{ image.artefact }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ image.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if image.created %}{{ image.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if image.updated %}{{ image.updated|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Original Name</th>
                <td>{{ image.originalName }}</td>
            </tr>
            <tr>
                <th>Image File Path</th>
                <td>{{ image.imageFilePath }}</td>
            </tr>
            <tr>
                <th>Thumbnail Path</th>
                <td>{{ image.thumbnailPath }}</td>
            </tr>
            <tr>
                <th>Image Size</th>
                <td>{{ image.imageSize }}</td>
            </tr>
            <tr>
                <th>Image Width</th>
                <td>{{ image.imageWidth }}</td>
            </tr>
            <tr>
                <th>Image Height</th>
                <td>{{ image.imageHeight }}</td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="glyphicon glyphicon-remove" />
                    </button>
                    <h4 class="modal-title" id="modalTitle" />
                </div>
                <div class="modal-body">
                    <figure>
                        <img src="" id="modalImage" />
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
