<table class="table table-bordered table-condensed table-hover table-striped">
    <tbody>
        <tr>
            <th>Catalog Number</th>
            <td>{{ artefact.catalogNumber }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ artefact.description|raw }}</td>
        </tr>
        <tr>
            <th>Further Reading</th>
            <td>{{ artefact.furtherReading|raw }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ artefact.note|raw }}</td>
        </tr>
        <tr>
            <th>Recovery Location</th>
            <td>
                <a href="{{ path('location_show', { 'id': artefact.recoveryLocation.id}) }}">
                    {{ artefact.recoveryLocation }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Recovery Date</th>
            <td>
                {{ artefact.recoveryDate }}
            </td>
        </tr>
        <tr>
            <th>Manufacture Location</th>
            <td>
                <a href="{{ path('location_show', { 'id': artefact.manufactureLocation.id}) }}">
                    {{ artefact.manufactureLocation }}
                </a>
            </td>
        </tr>
        <tr>
            <th>Manufacture Date</th>
            <td>
                {{ artefact.manufactureDate }}
            </td>
        </tr>
        <tr>
            <th>Institution</th>
            <td>
                {{ artefact.institution }}
            </td>
        </tr>
        {% block callback %}{% endblock %}
        <tr>
            <th>Created</th>
            <td>{% if artefact.created %}{{ artefact.created|date }}{% endif %}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{% if artefact.updated %}{{ artefact.updated|date }}{% endif %}</td>
        </tr>
    </tbody>
</table>
{% if artefact.references | length > 0 %}
    <h2>References</h2>
    <ul class="list-unstyled">
        {% for reference in artefact.references %}
            <li>
                <a href="{{ path("publication_show", {"id":reference.publication.id}) }}">
                    {{ reference.publication }}
                </a>
                {{ reference.description|raw }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
<h2>Images</h2>
{% if artefact.images | length == 0 %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="btn-toolbar">
            <div class="btn-group pull-right">
                <a href="{{ path('bottle_add_image', {'id': artefact.id}) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-plus'></span> Add Image</a>
            </div>
        </div>
    {% endif %}
    <p>No images yet.</p>
{% else %}

    {% embed 'AppBundle:artefact:show_images.html.twig' with {'artefact': artefact } %}
    {% endembed %}

{% endif %}

{% block javascripts %}
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {

                $('#imgModal').on('show.bs.modal', function (event) {
                    var $button = $(event.relatedTarget);
                    // Button that triggered the modal
                    var $modal = $(this);

                    $modal.find('#modalTitle').text($button.data('title'));
                    $modal.find('figcaption').html($button.parent().parent().find('.caption').clone());
                    $modal.find("#modalImage").attr('src', $button.data('img'));
                });
            });
        })(jQuery);
    </script>

{% endblock %}
