{% extends 'base.html.twig' %}

{% block title %}Reference List{% endblock %}

{% block pageheader %}
    <h1>Reference List</h1>
    <p class="count">
        Displaying {{ references|length }} references of {{ references.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for reference in references %}
                <tr>
                    <td>
                        <a href="{{ path('reference_show', { 'id': reference.id }) }}">
                            {{ reference.description }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(references) }}
    </div>

{% endblock %}
