{% extends 'base.html.twig' %}

{% block title %}Reference{% endblock %}

 {% block pageheader %}
     <h1>Reference Details</h1>
 {% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('reference_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ reference.description|raw }}</td>
            </tr>
            <tr>
                <th>Publication</th>
                <td>
                    <a href="{{ path('publication_show', { 'id': reference.publication.id}) }}">
                        {{ reference.publication }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Artefact</th>
                <td>
                    {% embed '@App/artefact/partial/link.html.twigg' with {'artefact': reference.artefact } %}
                    {% endembed %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if reference.created %}{{ reference.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if reference.updated %}{{ reference.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
