{% extends 'base.html.twig' %}

{% block title %}Typology{% endblock %}

 {% block pageheader %}
     <h1>Typology Details</h1>
 {% endblock %} 

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('typology_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('typology_edit', { 'id': typology.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit </a>
                <a href="{{ path('typology_delete', { 'id': typology.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this Typology?">
                    <span class='glyphicon glyphicon-remove'></span> Delete </a>
            {% endif %}
        </div>
    </div>

    {% embed 'NinesUtilBundle:term/partial:show.html.twig' with {'term': typology} %}
    {% endembed %}

    {% if typology.ceramics | length > 0 %}
        <h2>Ceramics</h2>
        <ul>
            {% for ceramic in typology.ceramics %}
                <li>
                    <a href="{{ path("ceramic_show", {"id":ceramics.id}) }}">
                        {{ ceramic }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
