{% extends 'base.html.twig' %}

{% block title %}Ceramic List{% endblock %}

{% block pageheader %}
    <h1>Majolica List</h1>
    <p class="count">
        Displaying {{ ceramics|length }} ceramics of {{ ceramics.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('ceramic_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New </a>
            {% endif %}
            <a href="{{ path('ceramic_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search </a>
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Paste</th>
                <th>Munsell</th>
                <th>Typology</th>
            </tr>
        </thead>
        <tbody>
            {% for ceramic in ceramics %}
                <tr>
                    <td>
                        <a href="{{ path('ceramic_show', { 'id': ceramic.id }) }}">
                            {{ ceramic.paste }}
                        </a>
                    </td>
                    <td>{{ ceramic.munsell }}</td>
                    <td>{{ ceramic.typology }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(ceramics) }}
    </div>

{% endblock %}
